<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="lg:gap-8">
      <h2 class="text-center text-3xl font-medium tracking-tight sm:text-4xl">About</h2>
      <br>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-center text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          We are a dedicated team of technical support engineers passionate about delivering high quality solutions for businesses in need of reliable support. With a strong background in enterprise applications and cloud environments, we specialize in ensuring that your or your customers' systems run smoothly and efficiently.
          <br><br>
          Our team combines diverse expertise, including seasoned professionals with extensive experience in the Microsoft Azure ecosystem, such as programmers or system architecture experts. Whether configuring and optimizing cloud applications, solving technical challenges or providing proactive maintenance, we are committed to helping your business succeed.
          <br><br>
          At the core of our work is a commitment to excellence, innovation and customer satisfaction. By partnering with us, you'll have access to scalable, flexible, bilingual support tailored to your specific needs. Our goal is simple: to empower your operations with efficient, reliable and expert assistance every step of the way.
        </p>
      </div>
    </div>
  </div>
</section>
