<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-16 lg:flex-row">
      <div class="flex flex-col items-start gap-8 sm:gap-10 flex-1">
        <div class="flex max-w-xl flex-col items-start gap-4 sm:gap-6">
          <h1 class="text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl">
            Optimize your support services
          </h1>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-lg sm:text-xl">
            Hire experienced technical support engineers at a fraction of the cost.
          </p>
        </div>
      </div>
      
    </div>
  </div>
</section>
